@font-face {
    font-family: 'latin_modern_roman10_regular';
    src: url('/fonts/lmroman10-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    width: 100%;
    height: 100%
}

#__blaze-root {
    height: 100%;
}

.footer {
    padding: 40px 20px 40px !important;
}

html {
    overflow-y: hidden !important;
    height: 100%;
}

#main {
    padding: 16px;
}

#newsletter .input {
    border-color: white;
    box-shadow: none;
}

.nav.has-shadow {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1) !important;
}

#progressChart {
    height: 256px !important;
    width: 256px !important;
    margin: 0 auto;
}

.content .mc-list {
    list-style: none;
    margin-left: 0;
}

.latex-mc {
    font-size: 1.2rem;
}

.latex-q {
    font-size: 1.2rem;
}

/*
    Up/Down vote
*/
.vote {
    cursor: pointer;
}

.wrap{
    margin-right: 1rem;
    text-align: center;
}

.up {
    color: green;
}

.down {
    color: red;
}

.inactive {
    color: gray;
}

.score {
    position: relative;
    display: block;
    padding: 5px 0;
}

.badge {
    background: #eee;
    padding: 5px 10px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    margin-left: 10px;
}

#questions {
    font-family: "latin_modern_roman10_regular";
}

section .q-share {
    font-size: 15px;
}

a:visited {
    color: #1577c6 !important;
}

a {
    border-bottom: 0 !important;
}

.rating-container {
    padding-left: 0.5rem;
    padding-right: 1rem;
    text-align: center;

}

.q-container {
    display: flex;
}